<div class="col-md-12">
    <!-- main app container -->
    <div class="jumbotron component-theme">
        <div class="container">
            <div class="col-sm-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- credits -->
    <div class="text-center">
        <p>
            <a href="http://www.wonderla.com/" target="_top">The biggest things of God's own country kerala Fun</a>
        </p>
        <p>
            <a href="http://www.wonderla.com/" target="_top">Wonderla Themepark</a>
        </p>
    </div>
</div>